* {
    background: #1e1e2e;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
}

#clock,
#pulseaudio,
#network,
#tray,
#language,
#cpu,
#memory,
#privacy {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 5px;
}

#tray,
#privacy {
    margin-right: 5px;
    margin-left:8px;
}

#window {
    margin-left: 10px;
}

#clock,
#cpu,
#memory {
    color: #fab387;
    margin-left: 5px;
}

#network {
    color: #f9e2af;
} 

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-right: 0px;
}
